{% extends "layout.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class="active"><a href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
    <li class=""><a href="{{ url_for('show_summary') }}">Summary</a></li>
    <li class=""><a href="{{ url_for('show_details') }}">Details</a></li>
</ul>
<div class="navbar-text">|</div>
{% if current_user.is_authenticated %}
    <div class="navbar-text">Hello, {{ current_user.full_name }} (<a style="font-size:85%" href="{{ url_for('logout', next='index') }}">Log out</a>)</div>
{% else %}
    <div class="navbar-text"><a style="font-size:85%" href="{{ url_for('oauth_authorize', provider='fitbit', next='index') }}">Sign in with Fitbit</a></div>
{% endif %}

<ul class="nav navbar-nav navbar-right">
    <li class=""><a href="{{ url_for('about') }}">About</a></li>
</ul>
{% endblock %}

{% block main %}
{% for message in get_flashed_messages() %}
    <p><b>Error</b>: {{ message }}</p>
{% endfor %}
{% if current_user.is_authenticated %}
    <h2>Hi, {{ current_user.full_name }}!</h2>
    <p><a href="{{ url_for('logout', next='index') }}">Logout</a></p>
{% else %}
    <h1>Welcome to Fit A Demo Bit</h1>
    <p>This website shows you your Fitbit data</p>
    <p><a href="{{ url_for('oauth_authorize', provider='fitbit', next='index') }}">Sign in with Fitbit</a> to start!</p>
{% endif %}
{% endblock %}