<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is a Fitbit Activity data demo">
        <meta name="author" content="Shi Yin">

        <title>Fit A Demo Bit</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Mapbox core CSS -->
        <!--<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
        <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
        <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />-->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:600">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!--<link href="{{ url_for('static', filename='css/overlay.css') }}" rel="stylesheet">-->

        <script type='text/javascript'>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>

    <body>
        <!-- Navigation bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img src="{{ url_for("static", filename="img/logo.svg") }}">&nbsp;Fit A Demo Bit</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% block navbar %}{% endblock %}
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- end of Navigation bar -->

        <!-- main -->
        <div class="container">
            {% block main %}{% endblock %}
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- moment.js, spin.js, etc -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jenks.js') }}"></script>-->

        <!-- underscore.js -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>-->

        <!-- Mapbox core JavaScript -->
        <!--<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>-->

        <!-- D3 JavaScript -->
        <!--<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
        <script src="{{ url_for('static', filename='js/d3.min.js') }}" charset="utf-8"></script>

        <!--<script src="https://code.highcharts.com"></script>-->

        <!-- D3 TopoJson JavaScript -->
        <!--<script src="{{ url_for('static', filename='js/topojson.js') }}"></script>-->

        <!-- Awesome Overlays JavaScript -->
        <!--<script src="{{ url_for('static', filename='js/overlay.js') }}"></script>-->

        {% block js %}{% endblock %}
    </body>
</html>
