{% extends "layout.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class=""><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active"><a href="{{ url_for('show_summary') }}">Summary <span class="sr-only">(current)</span></a></li>
    <li class=""><a href="{{ url_for('show_details') }}">Details</a></li>
</ul>
<div class="navbar-text">|</div>
{% if current_user.is_authenticated %}
    <div class="navbar-text">Hello, {{ current_user.full_name }} (<a style="font-size:85%" href="{{ url_for('logout', next='show_summary') }}">Log out</a>)</div>
{% else %}
    <div class="navbar-text"><a style="font-size:85%" href="{{ url_for('oauth_authorize', provider='fitbit', next='show_summary') }}">Sign in with Fitbit</a></div>
{% endif %}

<ul class="nav navbar-nav navbar-right">
    <li class=""><a href="{{ url_for('about') }}">About</a></li>
</ul>
{% endblock %}

{% block main %}
{% for message in get_flashed_messages() %}
    <p><b>Error</b>: {{ message }}</p>
{% endfor %}
{% if current_user.is_authenticated %}
    <div class="row title">
        <div class="col-md-6"><h3>Weekly Steps:</h3></div>
        <div class="col-md-6"><h3>Weekly Calories:</h3></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="weekly-steps"></div>
        <div class="col-md-6" id="weekly-calories"></div>
    </div>
    <div class="row title">
        <div class="col-md-6"><h3>Monthly Steps:</h3></div>
    </div>
    <div class="row">
        <div id="monthly-steps"></div>
    </div>
    <div class="row title">
        <div class="col-md-6"><h3>Monthly Calories:</h3></div>
    </div>
    <div class="row">
        <div id="monthly-calories"></div>
    </div>

{% else %}
    <h2>Hi, Guest!</h2>
    <p>This page shows you summary of your Fitbit data!</p>
    <p><a href="{{ url_for('oauth_authorize', provider='fitbit', next='show_summary') }}">Sign in with Fitbit</a> to start!</p>
{% endif %}
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
{% endblock %}